:root {
    --primary-color: #e50914;
    --primary-hover-color: #c11119;
    --sec-color: #212529;
    --color-white: #fff;
}

body{
    position:relative;
    min-height: 100vh;
}

body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg,
            rgba(0, 0, 0, 0.85)3%,
            rgba(0, 0, 0, 0.8465)11.08%,
            rgba(0, 0, 0, 0.8361)19.17%,
            rgba(0, 0, 0, 0.8187)27.25%,
            rgba(0, 0, 0, 0.7944)35.33%,
            rgba(0, 0, 0, 0.7632)43.42%,
            rgba(0, 0, 0, 0.725)51.5%,
            rgba(0, 0, 0, 0.6868)59.58%,
            rgba(0, 0, 0, 0.6556)67.67%,
            rgba(0, 0, 0, 0.6313)75.75%,
            rgba(0, 0, 0, 0.6139)83.83%,
            rgba(0, 0, 0, 0.6035)91.92%,
            rgba(0, 0, 0, 0.6)100%), url(../img/imgBack.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    filter: blur(3px);
    z-index: -1;
}



.logo{
    display: inline-block;
     width: 150px;
}

.logo img{
    width:150px;
}

.nfx-pri-btn {
    background-color: var(--primary-color);
    color: var(--color-white) !important;
}

.nfx-pri-btn:is(:hover, :focus, :active) {
    background-color: var(--primary-hover-color);
    color: var(--color-white);
}

.nfx-sec-btn {
    background-color: var(--sec-color);
    color: var(--color-white) !important;
}

.movie-card{
 background-color: rgba(0, 0, 0, 0.7);
}

.movie-card h2{
    height:40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
    margin:0;
}

.movie-card figure{
  margin:0;
  height: 200px;
  width: 100%;
  position:relative;
  overflow: hidden;
}

.movie-card figure img{
   height:100%;
   width: 100%;
   object-fit: cover;
}

figcaption{
    position:absolute;
    top:30%;
    left:0;
    height:70%;
    padding:20px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    transform: translateY(120%);
    opacity: 0;
    transition: all 0.3s ease-in-out;

}

.movie-card:is(:hover, :active, :focus) figcaption{

    transform: translateY(0%);
    opacity: 1;
}

.movieModel{

    position:fixed;
    left:20%;
    top:15%;
    width:60%;
    display: none;
}


.backDrop{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.movieModel.active , .backDrop.active{
    display: block;
}

.closeBtn{
    cursor: pointer;
}

.backDrop{
animation: backDrop 0.4s ease-in-out;
}

.movieModel {
animation: movieModel 0.3s ease-in-out;
}

@keyframes movieModel {
    from{
        transform: translateY(-25px);
    }
    to{
       transform: translateY(0px);
    }
}

@keyframes backDrop{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.loder{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardScrolle {
  box-shadow: 0 0 0 4px rgba(59,130,246,0.15);
  transition: box-shadow 300ms ease;
}
